/* ----------- Logo and body -----------*/
.logo {
    display: block;
    margin: 10px auto;
    width: 50px;
    height: 50px;
}

body {
    background-color:#C2DED1;
    font-family: 'Montserrat', sans-serif;
}

.today {
    margin-top: 12px;
    text-align: center;
    font-weight: 500;
}

/* ----------- Container and messages ----------- */
.container {
    max-width: 955px;
    background-color: aliceblue;
    height: 80vh;
    padding: 20px;
    margin: 20px auto 10px;
    border-radius: 10px;
    overflow-y: auto;
    font-size: 15px;
}

.message {
    background-color:#CCF3EE;
    width: max-content;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    padding: 10px;
    margin: 17px 12px;
    border-radius: 10px;
}

.left {
    float: left;
    clear: both;
    background-color: #CDF2CA;
}

.right {
    float: right;
    clear: both;
    margin: 10px 0;
    background-color: #F5F0BB;
}

.centre {
    margin: auto;
    clear: both;
    background-color: transparent;
    font-weight: 500;
    text-align: center;
}

.text{
    margin: 0;
}

.time {
    text-align: right;
    font-size: 12px;
    margin: 2px 1px 0;
}

/* ----------- Sending messages form elements ----------- */
.send-container {
    text-align: center;
    max-width: 985px;
    width: 100%;
    display: block;
    margin: auto;
}

#msgInp {
    width: 85%;
    border-radius: 6px;
    border: none;
    height: 34px;
    outline: none;
    padding-left: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
}

.btn {
    cursor: pointer;
    border: 0;
    border-radius: 6px;
    height: 34px;
    width: 5%;
    background-color: #FAF0D7;
}

/* ----------- Font awesome icon ----------- */
.icon {
    font-size: 15px;
}